*{
  /* font-family: RobotoCustom !important; */
  font-family: ArchitectsDaughter !important;

}

body {
  /* text-align: center !important; */
  background-color: #f5f0e1 !important;
  /* color: #f5f0e1 !important; */
  /* font-family: ArchitectsDaughter !important; */
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*******************/
/* HEADER CSS STARTS */
/*******************/

.HeaderComponent {
  background-color: #1e3d59;
}

.HeaderLink:hover {
  color: #e2d3a8 ;
}

/*******************/
/* HEADER CSS ENDS */
/*******************/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*********************/
/* FOOTER CSS STARTS */
/*********************/

.Footer {
  background-color: #1e3d59;
  font-weight: bolder;
  text-align: center;
  color: #f5f0e1;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

.FooterIcon {
  padding: 10px;
}

.FooterIcon .FooterIconLink {
  color: #f5f0e1;
}

.FooterIcon .FooterIconLink:hover {
  text-decoration: none;
  color: #ff6e40;
}

/*******************/
/* FOOTER CSS ENDS */
/*******************/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/**********************/
/* LANDING CSS STARTS */
/**********************/

.LandingSection1 {
  background-color: #f5f0e1;
  color: #1e3d59;
  text-align: center;
}

.LandingSection1 .muLaIcon {
  width: 50vh;
  /* height: 50vh; */
  margin-bottom: 2vh;
}

.muLaIntro {
  letter-spacing: 4px;
  -webkit-text-stroke: 1px;
}

.LandingSection1 .mobilePhone {
  height: 100vh;
}

.muLaIntroContainer{
  margin: auto !important;
  text-align: end;
}

.mobilePhoneContainer{
  margin-right: auto !important;
  text-align: left;
}

/* @keyframes polygonWavingAnimationTop {
  0%,
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 30px));
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), 0 100%);
  }
}

@keyframes polygonWavingAnimationBottom {
  0%,
  100% {
    clip-path: polygon(0 0, 100% 30px, 100% 100%, 0 100%);
  }
  50% {
    clip-path: polygon(0 30px, 100% 0, 100% 100%, 0 100%);
  }
} */

/* .landingImage1Inner{
  position: absolute;
  background-image: linear-gradient(45deg, #6303B1, #ff0099);
  z-index: 1;
  filter: blur(5px);

} */

/* .landingImage1{
  position: absolute;
  background-image: url(./components/Landing/landingImage1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  height: 50vh;
  filter: blur(5px);
  top:-7px;
  overflow-y: hidden;
} */

@media screen and (max-width: 900px) {
  p {
color: lightgreen;
  }
}

/********************/
/* LANDING CSS ENDS */
/********************/

/********************/
/* ABOUT CSS STARTS */
/********************/

.AboutContainer{

}

.AboutInnerContainer{
margin:10vh;
}

.muLaIconTextSuperiorContainer{
  margin: auto !important;
}

.muLaIconTextSuperior{
  width: 60vh;
  /* height: 70vh; */
}

.AboutSection1 {
  background-color: #f5f0e1;

  -webkit-animation: polygonWavingAnimationTop 5s infinite; /* Safari 4+ */
  -moz-animation: polygonWavingAnimationTop 5s infinite; /* Fx 5+ */
  -o-animation: polygonWavingAnimationTop 5s infinite; /* Opera 12+ */
  animation: polygonWavingAnimationTop 5s infinite; /* IE 10+, Fx 29+ */

  padding-inline: 1vh;
}

.AboutSection1Inner2{

}

.AboutSection2 {
  /* clip-path: polygon(0 0, 100% 50px, 100% 100%, 0 100%); */
  /* margin-top: -50px; */

  -webkit-animation: polygonWavingAnimationBottom 5s infinite; /* Safari 4+ */
  -moz-animation: polygonWavingAnimationBottom 5s infinite; /* Fx 5+ */
  -o-animation: polygonWavingAnimationBottom 5s infinite; /* Opera 12+ */
  animation: polygonWavingAnimationBottom 5s infinite; /* IE 10+, Fx 29+ */
}

.AboutSection2Inner1{
    margin-top: 5vh;
    padding-inline: 1vh;
    padding-bottom: 1vh;
}

.AboutSection2Inner1Child1{
}

.AboutSection2Inner2{
  padding-top: 1vh; 
  padding-inline: 1vh;
  padding-bottom: 1vh;
}

/******************/
/* ABOUT CSS ENDS */
/******************/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.chatCol1,
.chatCol2 {
  height: 600px;
}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.login-component {
  color: white;
  width: fit-content;
  margin: auto;
  justify-content: center;
  border: 7px dashed rgb(41, 43, 44, 0.3);
  text-align: center;
  padding: 50px;
  background-color: #1e3d59;
}

.login-component > h1 {
  font-size: xx-large;
  font-family: monospace;
  background-color: unset;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.register-component {
  color: white;
  width: fit-content;
  margin: auto;
  justify-content: center;
  border: 7px dashed rgb(41, 43, 44, 0.3);
  text-align: center;
  padding: 50px;
  background-color: #1e3d59;
}

.register-component > h1 {
  font-size: xx-large;
  font-family: monospace;
  background-color: unset;
}

.register-component.registertest {
  width: 50%;
  word-wrap: break-word;
}

.register-component.confirmPage {
  /* width: min-content; */
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Dashboard CSS Starts */

.userProfilePhoto {
  max-width: 100%;
  max-height: 100%;
}

/* Dashboard CSS Ends */
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Profile CSS Starts */

.profilePhoto {
  vertical-align: middle;
  width: 200px !important;
  height: 200px;
  border-radius: 50% !important;
}

.linearProgressContainer { 
  margin-bottom: 1rem !important;
}
.linearProgressBar{
    margin-bottom: 1rem !important;
}

hr {
  width: 100%;
}

/* .progressbarCharacterType {
  height: 15px;
  background: yellow !important;
}

body {
  margin-top: 20px;
  text-align: left;
  background-color: #e2e8f0;
}
.main-body {
  padding: 15px;
} */

/* .card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
} */

/* .card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
} */

/* .gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm > .col,
.gutters-sm > [class*="col-"] {
  padding-right: 8px;
  padding-left: 8px;
} */

/* .h-100 {
  height: 100% !important;
} */

/* .shadow-none {
  box-shadow: none !important;
} */

/* .card-body,
.card.mt-3,
.list-group.list-group-flush,
.list-group-item {
  background-color: #1e3d59,
} */

/* .alreadyHaveAccountButton {
  color: white;
} */

/* Profile CSS Ends */
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.chatbox {
  padding: 15px;
  position: relative;
}
.chatCol1,
.chatCol3 {
  background-color: #1e3d59;
}
.chatCol2 {
  background-color: #f5f0e1;
}

.chatbox3 {
  height: 80%;
  overflow-y: scroll;
  padding-left: 10px;
}

.conversation,
.conversationLoading {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.conversationImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.conversationName {
  font-weight: 500px;
}

.conversation:hover {
  background-color: lightslategray;
}

.activeConversation {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.activeConversationTop {
  display: flex;
}

.activeConversationBottom {
  display: flex;
  font-size: 12px;
  margin-top: 10px;
}

.activeConversationImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.activeConversationText {
  background-color: #1e3d59;
  border-radius: 20px;
  padding: 10px;
  max-width: 300px;
}

.activeConversationTime {
  color: #1e3d59;
}

.activeConversation.own {
  align-items: flex-end;
}

.messageInputOuter {
  display: flex;
  margin-top: 5px;
  align-items: center;
  justify-content: space-between;
}

.messageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.messageInputButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.messageInputButton:hover {
  background-color: lightslategray;
  cursor: pointer;
}

.matchedUser {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
}

.matchedUser:hover {
  background-color: lightsteelblue;
}

.matchedUserImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.noCurrentConversation {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: #1e3d59;
  display: flex;
  align-items: center;
  cursor: default;
  pointer-events: none;
}